* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: #e94d35e0;
}
*::selection {
  background-color: #e94d35e0;
}

body {
  background: #f5f5f5;

  font-family: Bai Jamjuree;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px 0 100px;
  height: 70px;
}

.nav__item {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__button {
  transition: 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  border: 1px solid #000;
}

.nav__button:hover {
  transition: 200ms;
  transform: scale(1.1);
  font-size: 16px;
  background-color: #000;
  color: #fff;
  box-shadow: 0px 1px 130px -25px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 1px 130px -25px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 1px 130px -25px rgba(0, 0, 0, 1);
}

.nav__link {
  display: inline-block;
  color: #000;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.nav__link:after {
  display: block;
  content: "";
  background-color: #000;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.nav__link:hover:after,
.nav__link:focus:after {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 100px 0 100px;
}

.container__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.title {
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.5600000023841858px;
  text-align: left;
}

.subtitle {
  width: 470px;
  display: flex;
  justify-content: space-between;
  font-family: Bai Jamjuree;
  font-size: 23px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.47999998927116394px;
  text-align: left;
}

.buttons {
  display: flex;
}

.buttons__1 {
  transition: 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 179px;
  background-color: #000;
  color: #fff;
}

.buttons__1:hover {
  transition: 200ms;
  transform: scale(1.1);
  font-size: 16px;
}

.buttons__2 {
  transition: 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 120px;
  border: 1px solid #000;
}

.buttons__2:hover {
  transition: 200ms;
  transform: scale(1.1);
  font-size: 16px;
  background-color: #f5f5f5;
  position: absolute;
}

.man {
  transition: 1s;
}

.man:hover {
  transform: scale(1.1);
}
.line {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;

  height: 70px;
  width: 108%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: rotateZ(-6deg) translateX(-30px);
  margin-top: 100px;
}

.line__zvezda {
  width: 26px;
  height: 26px;
}
